<% include ../partials/header.ejs %>
    <div class="main-layout-box">

    <div class="inner-layout-box">

<!-- Page Content -->
    
     <div class="row">
     <div class="my-heading">Checkout Your Order</div>
     <hr class="style-one">
     </div>

        <div class="row">
    <form class="form-inline">

    <div class="col-md-9">
             <div class="form-group">
             <table class="table table-condensed">
             
                <tr>
                <td><label>Item</label></td>
                <td><label>Price</label></td>
                <td><label>Quantity</label></td>
                <td><label>Customize</label></td>
                </tr>

               <% for(var i=0; i<order.items.length; i++) { %>
                <tr>
                <td><input type="text" value="<%= order.items[i].itemName %>" class="form-control" id=""  disabled></td>
                <td> <input type="text" value="<%= order.items[i].itemPrice %>" class="form-control" id=""  disabled></td>
                <td><input type="text" value="<%= order.items[i].itemCount %>" class="form-control" id="" disabled></td>
                <td><input type="text" value="<%= order.items[i].itemText %>" class="form-control" id="" disabled></td>
                </tr>
                 <% } %>

            
                <tr>
                <td><label>Date (Single Order)</label></td>
                <td> <input type="text" value="<%= order.orderType=="single"?order.singleOrderDate:"N/A" %>" class="form-control" id=""  disabled></td>
                <td></td>
                </tr>

                <tr>
                <td><label>Time (Single Order)</label></td>
                <td> <input type="text" value="<%= order.orderType=="single"?order.singleOrderTime:"N/A" %>" class="form-control" id="" disabled></td>
                <td></td>
                </tr>
        
        
           </table>
            </div>
            
             <div class="form-group">
             <table class="table table-condensed">
                <tr>
                <td> <label>Reoccuring On
                </tr>

                <tr>
                <td></td>
                <td> <input type="text" class="form-control" id="" value="Mondays@" disabled></td>
                <td><input type="text" value="<%= order.mondayAt==""?"N/A":order.mondayAt %>" class="form-control" id=""  disabled></td>
                </tr>

                <tr>
                <td></td>
                <td> <input type="text" class="form-control" id="" value="Tuesdays@" disabled></td>
                 <td><input type="text" value="<%= order.tuesdayAt==""?"N/A":order.tuesdayAt %>" class="form-control" id=""  disabled></td>
                </tr>

                <tr>
                <td></td>
                <td> <input type="text" class="form-control" id="" value="Wednesdays@" disabled></td>
                 <td><input type="text" value="<%= order.wednesdayAt==""?"N/A":order.wednesdayAt %>" class="form-control" id=""  disabled></td>
                </tr>

                <tr>
                <td></td>
                <td> <input type="text" class="form-control" id="" value="Thursdays@" disabled></td>
                 <td><input type="text" value="<%= order.thursdayAt==""?"N/A":order.thursdayAt %>" class="form-control" id=""  disabled></td>
                </tr>

                <tr>
                <td></td>
                <td> <input type="text" class="form-control" id="" value="Fridays@" disabled></td>
                 <td><input type="text" value="<%= order.fridayAt==""?"N/A":order.fridayAt %>" class="form-control" id=""  disabled></td>
                </tr>

                <tr>
                <td></td>
                <td></td>
                </tr>
             </table>
    
    
    
    </div>
    </div>
    <!--left div-->
    <div class="col-md-3">
    <div class="cart checkout-final-cart-width">
      <form class="form-horizontal">
      
      <div class="form-group">
          <label class="checkout-final-labels">Sub-Total</label>
          <input type="text" value="<%= order.subTotal %>" class="form-control"  disabled>
      </div>

      <div class="form-group">
         <label class="checkout-final-labels">GST</label>
          <input type="text" value="<%= order.taxes %>" class="form-control" disabled>
      </div>

      <div class="form-group">
        <label class="checkout-final-labels">Grand-Total</label>
          <input type="text" value="<%= order.grandTotal %>" class="form-control" disabled>
      </div>

       <div class="form-group">
      </div>
      
      <div class="form-group">
      <br/>
        
        <a href="/processOrder" class="btn btn-primary checkout-btn">Checkout</a> <br>
        <input action="" onclick="window.history.go(-1); return false;" type="button" class="btn btn-primary" value="Make Changes" />
      </div>
    </form>

    </div>
    
    </div><!--right div-->
     </form>
    </div><!--row-->
     











      
    </div>

      </div>
   <% include ../partials/footer.ejs %>