<% include ../partials/header.ejs %>

        <div class="row">
        <div class="large-8 columns large-centered text-center">
        <div class="login-box">
         <div class="inner-login-box">
          <% if (creditMessage!='' && creditMessage.length > 0) { %>
        <div class="alert alert-primary"><%= creditMessage %></div>
      <% } %>
         <h5>Welcome <%= user %></h5>
         <form class="form-horizontal" method="post" action="/credits">
              <div class="form-group">
                <label>Available Balance </label>
                <label>CAD:<%= userCredit %></label>
              </div>
              <% if(balRequired!='') { %>
              <div class="form-group">
                <label>Minimum Balance required for this order </label>
                <label>CAD:<%= balRequired %></label>
              </div>
              <% } %>
              <div class="form-group">
                <a class="white-color" href="#" data-toggle="collapse" data-target="#demo">Load Credit <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
              </div>

              <div id="demo" class="collapse">
              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9"> <input type="text" name="cardHolderName" class="form-control" id="" placeholder="Card Holder Name" required></div>
              </div>

              <div class="form-group">

                <label for="" class="col-sm-3 control-label">Credit Card</label>
                <div class="col-sm-9"><input type="text" name="cardNumber" class="form-control" id="" placeholder="Enter 16 digits credit/debit card #" pattern ="[0-9]{16}" required></div>

              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label">CVV</label>
                 <div class="col-sm-9"><input type="password" name="cardCvv" maxlength="3" pattern ="[0-9]{3}" class="form-control" id="" placeholder="xxx" required></div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Amount</label>
                 <div class="col-sm-9"><input type="text" name="amount" class="form-control" id=""  required></div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label"></label>
                <div class="col-sm-9"><button type="submit" class="btn green-color pull-right">Load</button></div>
            </div>

            </div>
              
             
            </form>

            </div>
            </div>
            </div>
            </div>

           
       <div class="large-12 columns text-center white-color">
        <h2 class="demo" data-in-effect="fadeInLeft">
          <span aria-label="Fogafín" style="visibility: hidden;">
          <span class="word1" aria-hidden="true" aria-label="Fogafín" style="display: inline-block; transform: translate3d(0px, 0px, 0px);">
          <span class="char1" aria-hidden="true" style="display: inline-block; visibility: visible;">Y</span>
          <span class="char2" aria-hidden="true" style="display: inline-block; visibility: visible;">o</span>
          <span class="char3" aria-hidden="true" style="display: inline-block; visibility: visible;">u</span>
          <span class="char4" aria-hidden="true" style="display: inline-block; visibility: visible;">r</span>
          <span class="char5" aria-hidden="true" style="display: inline-block; visibility: visible;"></span>
          <span class="char6" aria-hidden="true" style="display: inline-block; visibility: visible;">F</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">a</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">v</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">o</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">u</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">r</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">i</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">t</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">e</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">s</span>
          </span></h2>
          <h1> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h1>

        <!--=============================================================================================================================================================-->
          <div class ="row">
         
      
          <div class="favourites">
          <% for(var i=0; i<favRests.length; i++) { %>     
          
           <div class="col-lg-4 col-sm-6">
           
            <div class="box grid recipes">
            <input type="hidden" name="" value="">
            <div class="by2"><%= favRests[i].restaurant %></div>
            <input type="hidden" name="itemName" value="">
         

            <% for(var n=0; n<favItems.length; n++) {%>
             <% if(favRests[i].restaurant==favItems[n].restaurant) { %>
             <form id="<%= "favouriteItem" + n %>">
             <input type="hidden" name="itemName" value="<%= favItems[n].itemName %>">
             <input type="hidden" name="price" value="<%= favItems[n].price %>">
             <input type="hidden" name="restaurant" value="<%= favRests[i].restaurant %>">
             </form>
             <div class="items-tag">
            <a data-toggle="collapse" title="Add into cart" onclick="<%= "addItem"+ n + "toCart()" %>" href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
             <%= favItems[n].itemName %>
              <a href="<%= "/removeFromFavs/" +favItems[n].itemName+"&"+favItems[n].price+"&"+favRests[i].restaurant %>" title="Remove favourite" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </div><!--tag-->

            <script>
             function <%= "addItem"+ n + "toCart()" %> {
                $.ajax({
     type: 'post',
     datatype: 'json',
     data: $("<%= "#" + "favouriteItem" + n %>").serialize(),
     url: '/addToCart', //node.js server is running
     success: function(data) {
     }
   });
            }

               function <%= "removeItem"+ n + "fromFavs()" %> {
                $.ajax({
              type: 'post',
              datatype: 'json',
              data: $("<%= "#" + "favouriteItem" + n %>").serialize(),
              url: '/removeFromFavs', //node.js server is running
              success: function(data) {
              }
            });
            }

            </script>

             <% } else {} %>
           
            <% } %>
           

            </div><!--grid box recepies-->
            </div>



          <% } %>    
          

            </div><!--col-->

        
        </div>
       

    
  <% include ../partials/footer.ejs %>