<% include ../partials/header.ejs %>

<div class="main-layout-box">

    <div class="inner-layout-box">



   <div class="row">
      <div class="my-heading">Order History</div>
      <hr class="style-one">
      </div>


        <div class="row"> 
        <div class="table-responsive">     
        <table class="table table-hover">
            <thead>
            <tr>
                <td><strong>Order No</strong></td>
                <td><strong>Amount</strong></td>
                <td><strong>Date</strong></td>
            <td><strong>Details</strong></td>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<orders.length; i++) { %>
            <tr>
                <td><%= orders[i]._id %></td>
                <td><%= orders[i].grandTotal %></td>
                <td><%= orders[i].creationDate %></td>
                <td><%= orders[i].orderType %>&nbsp;<a href="<%= "/orderDetails/"+ orders[i]._id %>" title="View Order details"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        </div><!--table responsive-->
        </div>



    </div><!--inner layout box-->

    </div><!--main layout box-->

<% include ../partials/footer.ejs %>