<% include ../partials/header.ejs %>
<script>



</script>
    <div class="main-layout-box">


    <div class="inner-layout-box">

    
      
        <div class="row">
        <div class="my-heading"><%= restaurant %></div>
        <hr class="style-one">
        
       <div class="alert alert-success alert-dismissable" id="mydivadd">
       <strong>Cool!</strong> Item has been added into the cart.
       </div>

       <div class="alert alert-success alert-dismissable" id="mydivdel">
       <strong>Cool!</strong> Item has been removed from the cart.
       </div>

       
        </div><!-- /row -->
        
        <div class="row">
            
            <!--===========================Only this item is implemented to show on a message on click of button=================================================================================================-->
            
            <% for(let count=0;count<items.length;count++) { %>
            
            <form id="<%= items[count]._id %>">
            <div class="col-lg-4 col-sm-6">
            <div class="box grid recipes">
            <!--TO DO: Have to seprate name and cost for easy functionality-->
            <input type="hidden" name="price" value="<%= items[count].price %>">
            <input type="hidden" name="restaurant" value="<%= items[count].restaurant %>">
            <div class="by">Price: <%= items[count].price %><a href="#" onclick="<%= "favourite"+ items[count]._id + "()" %>"><span class="glyphicon glyphicon-thumbs-up my-icon-theme" aria-hidden="true" title="Add to favourites"></span></a></div>
            <a href="">
            <img src="<%=items[count].imageURL%>" alt="">
            </a>
            <input type="hidden" name="itemName" value="<%= items[count].itemName %>">
            <h2><%= items[count].itemName %></h2>
            <p></p>
            <div class="tag">
           <!--TO DO: I can change this to like icon, not sure why it is for-->
            <a onclick="<%= "add"+ items[count]._id + "()" %>"  href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <a onclick="<%= "remove"+ items[count]._id + "()" %>" href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
            </div>
            </div>
            </div>
            </form>

            <script>
            $(function(){
                $("#mydivadd").hide();
                $("#mydivdel").hide();
            });
              
            function <%= "add"+ items[count]._id + "()" %> {
                $.ajax({
     type: 'post',
     datatype: 'json',
     data: $("<%= "#" + items[count]._id %>").serialize(),
     url: '/addToCart', //node.js server is running
     success: function(data) {
      // alert("success");
      $('#mydivadd').show();
      setTimeout(function() {
                $('#mydivadd').fadeOut('fast');
            }, 2500); 

     }
   });
            }

            function <%= "remove"+ items[count]._id + "()" %> {
                $.ajax({
              type: 'post',
              datatype: 'json',
              data: $("<%= "#" + items[count]._id %>").serialize(),
              url: '/removeFromCart', //node.js server is running
              success: function(data) {
                // alert("success");
                $('#mydivdel').show();
                setTimeout(function() {
                          $('#mydivdel').fadeOut('fast');
                      }, 2500); 

              }
            });
            }

             function <%= "favourite"+ items[count]._id + "()" %> {
                $.ajax({
     type: 'post',
     datatype: 'json',
     data: $("<%= "#" + items[count]._id %>").serialize(),
     url: '/addToFavourites', //node.js server is running
     success: function(data) {
      // alert("success");

     }
   });
            }
            </script>
            <% } %>


              <!--====================================================================================================================================================================================================================-->
             

      </div><!-- /row -->
        
      </div><!--inner-layout-box-->
   

      </div><!--main-layout-box-->
   <% include ../partials/footer.ejs %>