<% include ../partials/header.ejs %>
    <div class="main-layout-box">

        <div class="inner-layout-box">
            <script type="text/javascript">
            function singleRecurCheck() {
                if (document.getElementById('blankRadio').checked) {
                    document.getElementById('single').style.display = 'block';
                    document.getElementById('recurring').style.display = 'none';
                }
                else if(document.getElementById('blankRadio2').checked) {
                    document.getElementById('single').style.display = 'none';
                    document.getElementById('recurring').style.display = 'block';
                }
            
            }
        </script>
        <!-- 
            <script type="text/javascript">
                function show(it, box) {
                    var vis = (box.checked) ? "block" : "none";
                    document.getElementById(it).style.display = vis;
                }
            </script>
            
            <script type="text/javascript">
                $.validator.addMethod("time24", function (value, element) {
                    if (!/^\d{2}:\d{2}:\d{2}$/.test(value)) return false;
                    var parts = value.split(':');
                    if (parts[0] > 23 || parts[1] > 59 || parts[2] > 59) return false;
                    return true;
                }, "Invalid time format.");
            </script>
        -->
            <!-- Page Content -->

            <div class="row">
                <div class="my-heading">Shopping Cart</div>
                <hr class="style-one">
            </div>


            <div class="row">
                <form class="form-inline" method="post" action="/confirmCheckout">
                <input type="hidden" name="numOfItems" value="<%= items.length %>">
                    <div class="col-md-8">
                    <% for(var i=0; i<items.length; i++) { %>
                        <div class="form-group">
                        <input type="hidden" name="<%= "itemName" + (i+1) %>" value="<%= items[i].itemName %>">
                            <label><%= items[i].itemName %></label>
                            <input type="number" name="<%= "itemCount" + (i+1) %>" value="<%= items[i].count %>" class="form-control" id="" placeholder="Quantity">
                            <div class="input-group">
                                <div class="input-group-addon">Notes</div>
                                <input type="text" name="<%= "itemText" + (i+1) %>" class="form-control" id="" placeholder="Customize Order" />
                                <input type="hidden" name="<%= "itemPrice" + (i+1) %>" value="<%= items[i].price %>">
                                <div class="input-group-addon"></div>
                            </div>
                        </div>
                        <% } %>



                        <div class="form-group">
                            <div class="radio">
                                <label>Single Order
                                    <input type="radio" name="orderType" id="blankRadio" value="single" aria-label="..." onclick="javascript:singleRecurCheck();">
                                </label>
                                <label>Recurring Order
                                    <input type="radio" name="orderType" id="blankRadio2" value="recurring" aria-label="..." onclick="javascript:singleRecurCheck();">
                                </label>
                            </div>
                        </div>
                        <br>

                        <div class="form-group" id="date" >
                            <table class="table table-condensed" id="single" style="display:none">
                                <tr>
                                    <td>
                                        <input type="text" name="singleOrderDate" class="form-control" id="" placeholder="Date" >
                                    </td>
                                    
                                    <!-- just in case
                                    <td>
                                        <select name="ampm" class="form-control">
                                            <option value="am">am</option>
                                            <option value="pm">pm</option>
                                        </select>
                                    </td>
                                -->
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="singleOrderTime" class="form-control" id="" placeholder="Time">
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-condensed" id="recurring" style="display:none">
                            <tr>
                            <td colspan="100%" style="padding-top:10px;"><label>Specify time only for the days you want</label></td>
                            
                            </tr>
                            <tr>
                            <td>
                                <label>Mondays @</label>
                            </td>
                            <td>
                                <input type="time" name="mondayAt" class="form-control" id="">
                            </td>
                            </tr>
                                <tr>
                                    <td>
                                        <label>Tuesdays @</label>
                                    </td>
                                    <td>
                                        <input type="time" name="tuesdayAt" class="form-control" id="">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                         <label>Wednesdays @</label>
                                    </td>
                                    <td>
                                        <input type="time" name="wednesdayAt" class="form-control" id="">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                         <label>Thursdays @</label>
                                    </td>
                                    <td>
                                        <input type="time" name="thursdayAt" class="form-control" id="">
                                    </td>
                                    <td>
                                </tr>

                                <tr>
                                    <td>
                                         <label>Fridays @</label>
                                    </td>
                                    <td>
                                        <input type="time" name="fridayAt" class="form-control" id="">
                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                    </td>
                                    <td></td>
                                </tr>
                            </table>



                        </div>
                    </div>
                    <!--left div-->
                    <div class="col-md-4">
                        <div class="display-buttons-block">
                            <input type="submit" value="Proceed" class="btn btn-primary btn-lg">
                            <a class="btn btn-primary btn-lg" href="/home">Add More Items</a>
                            <a class="btn btn-primary btn-lg" href="/clearCartAndCancel">Clear Cart and Cancel Order</a>
                        </div>

                    </div>
                    <!--right div-->
                </form>
            </div>
            <!--row-->









        </div>
    </div>

    <% include ../partials/footer.ejs %>